<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="WP SEO Pilot Plugin Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <ini name="log_errors" value="0" />
    </php>
</phpunit>